@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;600;700;800;900&display=swap');

.new-body{ 
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

*{
    max-width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins' ,  sans-serif;
}


.logo{
    font-size: 35px;
    margin: 20px;
    color: #fff;
}

.logo-wrapper{
    width: 200px;
    position: absolute;
    top: 0;
    left: 0;
}

.black-bg{
    position: fixed;
    right: 0;
    top: 0;
    font-size: 40px;
    margin: 20px;
    color: #fff;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 125000;
}

.open-icon{
    cursor: pointer;
    z-index: 17500;
    transition: .3s;
}

.open-icon:hover{
    transform: rotate(-90deg);
}

/*Navbar*/

.nav-links{
    position: fixed;
    right: -250px;
    top: 0;
    width: 250px;
    height: 100vh;
    background:transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000000000;
    transition: .3s;
}

.close-icon{
    position: absolute;
    right:  0;
    top: 0;
    font-size: 40px;
    cursor: pointer;
    margin: 20px;
    color: #fff;
    transition: .3s;
    opacity: 0;
}

.close-icon:hover{
    transform: rotate(90deg);
}

.nav-link{
    text-decoration: none;
    font-size: 30px;
    color: #fff;
    font-weight: 600;
}

.nav-link:hover{
    color: #8c45f7;
}

.nav-list{
    list-style: none;
}

/*HomePage*/
.container{
    width: 100%;
    max-width: 100vw;
    height: 110vh;
}

.home-page{
    position: relative;
}

.background{
    object-fit: cover;
    width: 100%;
    height: 110vh;
}

.home{
    position: absolute;
    top: 30%;
    color: white;
    margin-left: 100px;
}

.heading h1{
    font-size: 100px;
}

.heading h2{
    margin-left: 10px;
    font-size: 30px;
}

.para-wrapper{
    width: 85%;
}

.hero-btn{
    margin-left: 10px;
    margin-top: 20px;
    border: 2px solid #111;
    width: 140px;
    height: 40px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    z-index: 100000;
}

.hero-btn a{
    text-decoration: none;
    color: #111;
    z-index: 1;
}
span{
    position: absolute;
    top: 0;
    left: 0;
    background: #8c45f7;
    width: 0;
    height: 100%;
    z-index: -1;
    transition: .3s;
}

.hero-btn:hover span{
    width: 100%;
}

/*About Page*/
.about-page{
    background: linear-gradient(rgba(4,9,39,0.5),rgba(4,9,39,0.5)),url(video/wallpapersaber.jpg);
    background-position: center;
    background-size: cover;
    color: #fff;
}

.about-heading{
    padding-top: 50px;
    margin-left: 50px;
}

.about-heading h1{
    font-size: 100px;
    text-transform: uppercase;
    line-height: 1;
    overflow: hidden;
}

.about-info{
    margin-left: 50px;

    width: 100%;
}

.about-info p{
    margin-top: 30px;
    padding-right: 40px;
}

/*Clips Page*/
.insane-clip-page{
    position: relative;
    overflow: hidden;
}

.insane-heading{
    position: absolute;
    color: #fff;
    top: 30%;
    margin-left: 100px;
}

.overlay{
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    margin: 0%;
}

@media(max-width: 900px){
    .container{
        padding: 0;
    }
    .home-page{
        width: 100%;
        height: 110vh;
    }
    .heading{
        margin: initial;
        margin-left: 20px;
        top: 0;
        top: 15%;
    }
    .para-wrapper{
        width: 90%;
    }
    .heading h1{
        font-size: 60px;
    }
    .heading h2{
        font-size: 25px;
    }
    .heading p {
        font-size: 15px;
        margin-top: 20px;
    }
    .about-page{
        height: 170vh;
        gap: 0;
    }
    .about-heading h1{
        font-size: 60px;
    }
    .about-heading h2{
        font-size: 25px;
    }
    .about-info p{
        font-size: 15px;
        margin-top: 20px;
    }
}

@media (max-width: 767px) {
    .container {
        padding: 0;
      }
      .home-page {
        width: 100%;
        height: 110vh;
      }
      .heading {
        margin: initial;
        margin-left: 20px;
        top: 0;
        top: 15%;
      }
      .para-wrapper {
        width: 90%;
      }
      .heading h1 {
        font-size: 50px;
      }
      .heading h2 {
        font-size: 22px;
      }
      .heading p {
        font-size: 14px;
        margin-top: 20px;
      }
      .about-page {
        height: 170vh;
        gap: 0;
      }
      .about-heading h1 {
        font-size: 50px;
      }
      .about-heading h2 {
        font-size: 22px;
      }
      .about-info p {
        font-size: 14px;
        margin-top: 20px;
      }
    }

@media (max-width: 575px) {
    .container {
      padding: 0;
    }
  
    .home-page {
      width: 100%;
      height: 110vh;
    }
  
    .heading {
      margin: initial;
      margin-left: 20px;
      top: 0;
      top: 15%;
    }
  
    .para-wrapper {
      width: 90%;
    }
  
    .heading h1 {
      font-size: 40px;
    }
  
    .heading h2 {
      font-size: 20px;
    }
  
    .heading p {
      font-size: 12px;
      margin-top: 20px;
    }
  
    .about-page {
      height: 170vh;
      gap: 0;
    }
  
    .about-heading h1 {
      font-size: 40px;
    }
  
    .about-heading h2 {
      font-size: 20px;
    }
  
    .about-info p {
      font-size: 12px;
      margin-top: 20px;
    }
}
